@import "footer.css";
body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    position: relative;

}

/*  Start header*/
header {
    min-height: 50px;
    background-color: #333333;
}

.logo_wrap {
    display: flex;
    align-items: center;
    height: 50px;
}

.logo_wrap a {
    color: #FFFFFF;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.header_right {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

.btn-red {
    background-color: #f82424;
    border: 1px solid #f82424;
    border-radius: 2px;
    height: 25px;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px -1px 2px #ac1b1b;
    color: #ffffff;
    margin-right: 40px;
}

.eng {
    background-image: url(../../images/eng.jpg);
    background-repeat: no-repeat;
    height: 12px;
    width: 1.5em;

}

.spain {
    background-image: url(../../images/sp.jpg);
    background-repeat: no-repeat;
    height: 12px;
    width: 1.5em;
    margin-left: 7px;
}

.languages {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-bg {

    background: #2a2a2a;
    display: block;
    float: left;
    height: 12px;
    position: relative;
    width: 25px;
    border-radius: 25px;
    box-shadow: 0 -2px 0 #303030, inset 2px 0 2px #555, inset 0 1px 0 #777, inset 0 1px 5px #555;
    margin-left: 5px;
}

.toggle-bg input {

    height: 28px;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: -10px;
    width: 36px;
    z-index: 2;
}

.switch {

    background: radial-gradient(ellipse at center,
    rgba(194, 194, 194, 1) 29%,
    rgba(194, 194, 194, 1) 39%,
    rgba(144, 141, 141, 1) 48%,
    rgba(107, 107, 107, 1) 82%);
    display: block;
    float: left;
    height: 12px;
    left: -1px;
    position: relative;
    top: 0px;
    width: 12px;
    z-index: 1;
    border-radius: 25px;
    transition: left .2s ease;
}

.toggle-bg input:checked ~ .switch {
    left: -1px;
}

.toggle-bg input ~ :checked ~ .switch {
    left: 13px;
}

.toggle-bg input:checked {
    z-index: 0;
}

/* End header*/

/*Start nav*/

.nav_wrap {
    background-color: #dbdbdb;
    border-bottom: 2px solid #c7c7c7;
    position: relative;
    min-height: 48px;
}

form {
    display: flex;
    justify-content: flex-end;
    margin-top: 7px;

}

.search {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

a {
    text-decoration: none
}

.btn-dropdown {
    color: #cecece;
    background-color: #f6f6f6;
    border-color: #ccc;
    width: 200px;
    height: 34px;
    text-align: center;
}

.btn .caret {
    margin-left: 62px;
    margin-bottom: 3px;
}

.btn-group > .btn:first-child {
    margin-left: 10px;
}

.btn-search {
    margin-left: 10px;
    width: 8.75em;
    font-weight: bold;
    background-color: #f6f6f6;
    color: #404040;
    border-color: #ccc;
    height: 34px;
}

.nav > li {
    position: relative;
    display: block;
    margin-top: 2px;
}

.nav > li > a {
    font-weight: bold;
    font-size: 14px;
    position: relative;
    display: block;
    padding: 10px 15px;
    /* margin-right: -79px; */
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    /* background-color: #eee; */
    border-color: #0e0e0e;
}

a {
    color: #4e4e4e;
    text-decoration: none;
    font-size: 12px;
}

/*End nav*/

/*Start main*/
main {

    background-image: url(../../images/background.jpg);
}

.container_content {
    margin-top: 30px;
}

.car {
    background-color: #ffffff;
    margin-bottom: 10px;
}

.item_wrap {
    min-height: 350px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

.content {
    margin: 0;
    padding: 10px;
    position: relative;
}

.prise_wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.prise {
    width: 90px;
    height: 38px;
    background-color: red;
    font-weight: bold;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;

}

.prise span {
    text-align: center;

}

.prise_wrap_big {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.prise_big {
    width: 130px;
    height: 45px;
    background-color: red;
    font-weight: bold;
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

.prise_wrap_big span {
    text-align: center;
}

img {
    width: 100%;
}

.car:hover {
    background-color: #fef5ca;
    box-shadow: 5px 5px 5px #e0e0e0;
}

.bread_crumbs {
    margin: 0;
    padding: 10px;
    background-color: #f7f7f7;

}

.car:hover .bread_crumbs {
    background-color: #f5ecc3;

}

.car:hover .bread_crumbs .time {
    color: #aba897;

}

.car:hover .bread_crumbs .category {
    color: #aba897;

}

.car:hover .bread_crumbs .category a {
    color: #aba897;

}

.time {
    font-weight: bold;
    color: #d9d9d9;
}

.category {
    color: #d9d9d9;
}

.category a {
    color: #d9d9d9;
}

.banners > img {
    margin-bottom: 10px;
    width: 100%;
}

.banners > img:hover {
    box-shadow: 5px 5px 5px #cccccc;
}

.full {
    width: 100%;
}

.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

/*end main*/

/*.footer {*/
    /*background: #eeeeee;*/
    /*height: auto;*/
    /*padding-bottom: 30px;*/
    /*position: relative;*/
    /*width: 100%;*/
    /*border-bottom: 1px solid #d7d7d7;*/
    /*border-top: 1px solid #dddddd;*/
/*}*/

.footer p {
    margin: 0;
}

.footer img {
    max-width: 100%;
}

.footer h3 {
    border-bottom: 1px solid #b4b8bf;
    color: #54697e;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7f8c8d;
}

.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}

.footer a {
    color: #78828d
}

.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}

.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}

.newsletter-box {
    overflow: hidden;
}

.footer-bottom {
    background: #d9d9d9;
    border-top: 1px solid #cbcbcb;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-bottom p.pull-left {
    padding-top: 6px;
}

.payments {
    font-size: 1.5em;
}

.name {
    font-weight: bold;
    font-size: 12px;

}

.photos {
    width: 100%;

}

input[name="raz"] {
    display: none;
}

.gallery {

    padding-top: 75%;
    margin: 0;
    background: no-repeat 50% 0;
    display: flex;
    flex-direction: row;
}

.gallery label {
    width: 20%;
    height: 4em;
    margin-bottom: -4em;
    background: no-repeat 50% 50%;
    background-size: 100%;
    cursor: pointer;
}

#raz1:checked ~ .gallery label:nth-of-type(1),
#raz2:checked ~ .gallery label:nth-of-type(2),
#raz3:checked ~ .gallery label:nth-of-type(3),
#raz4:checked ~ .gallery label:nth-of-type(4),
#raz5:checked ~ .gallery label:nth-of-type(5) {
    /*opacity: .5; cursor: default;*/
}

#raz1:checked ~ .gallery, .gallery label:nth-of-type(1) {
    background-image: url("../../images/auto1.jpg");
    background-size: 100%;
    margin-bottom: 5px;
}

#raz2:checked ~ .gallery, .gallery label:nth-of-type(2) {
    background-image: url("../../images/auto2.jpg");
    background-size: 100%;
    margin-bottom: 5px;
}

#raz3:checked ~ .gallery, .gallery label:nth-of-type(3) {
    background-image: url("../../images/auto3.jpg");
    background-size: 100%;
    margin-bottom: 5px;
}

#raz4:checked ~ .gallery, .gallery label:nth-of-type(4) {
    /*background-image: url("../images/auto.jpg");*/
    background-size: 100%;
    margin-bottom: 5px;
}

#raz5:checked ~ .gallery, .gallery label:nth-of-type(5) {
    /*background-image: url("../images/auto.jpg");*/
    background-size: 100%;
    margin-bottom: 5px;
}

.photos1 {
    width: 100%;

}

input[name="photo"] {
    display: none;
}

.gallery1 {

    padding-top: 75%;
    margin: 0;
    background: no-repeat 50% 0;
    display: flex;
    flex-direction: row;
}

.gallery1 label {
    width: 20%;
    height: 4em;
    margin-bottom: -4em;
    background: no-repeat 50% 50%;
    background-size: 100%;
    cursor: pointer;
}

#photo1:checked ~ .gallery1 label:nth-of-type(1),
#photo2:checked ~ .gallery1 label:nth-of-type(2),
#photo3:checked ~ .gallery1 label:nth-of-type(3),
#photo4:checked ~ .gallery1 label:nth-of-type(4),
#photo5:checked ~ .gallery1 label:nth-of-type(5) {
    /*opacity: .5; cursor: default;*/
}

#photo1:checked ~ .gallery1, .gallery1 label:nth-of-type(1) {
    background-image: url("../../images/auto2.jpg");
    background-size: 100%;
    margin-bottom: 5px;
}

#photo2:checked ~ .gallery1, .gallery1 label:nth-of-type(2) {
    background-image: url("../../images/auto3.jpg");
    background-size: 100%;
    margin-bottom: 5px;
}

#photo3:checked ~ .gallery1, .gallery1 label:nth-of-type(3) {
    background-image: url("../../images/auto3.jpg");
    background-size: 100%;
    margin-bottom: 5px;
}

#photo4:checked ~ .gallery1, .gallery1 label:nth-of-type(4) {
    background-image: url("../../images/auto2.jpg");
    background-size: 100%;
    margin-bottom: 5px;
}

#photo5:checked ~ .gallery1, .gallery1 label:nth-of-type(5) {
    background-image: url("../../images/auto2.jpg");
    background-size: 100%;
    margin-bottom: 5px;
}


